<app-navbar></app-navbar>
<section class="skills" id="teams">
 <br> <br> <div class="max-width">
    <h2 class="title" style="font-weight: 700; text-align: center;">MY ACADEMIC HISTORY</h2>
<br><br>


    <ul class="cards">



      <li>
        <a href="" class="card">
          <div class="row">    <div class="col-7">  <img src="https://images.shiksha.com/mediadata/images/1596802337phpD8uRr3.png" style="height: 300px;" class="card__image" alt="" /></div>
          <div class="col-5">     <div class="card__overlay ed1">
            <div class="card__header ed1">
              <div class="card__header-text">
                <h5 style="text-align: center;"><b >B,sc physics</b></h5>
              </div>
            </div>
            <div style="text-align: center;margin-bottom: 10px;">
              <h5><b>Institution :</b></h5><span>Kamalam  College of Arts and Science</span>
            </div>
            <div style="text-align: center;margin-bottom: 10px;"> <span><b>Location :</b><span>Anthiyur ,
                  Tiruppur</span></span>
            </div>
            <div style="text-align: center;margin-bottom: 10px;"> <span><b>Duration :</b><span> 2019 -
                  2022</span></span>
            </div></div>

          </div>    </div>
        </a>
      </li>
<br><br>
<br>

      <li>
        <a href="" class="card">
          <div class="row">    <div class="col-7">    <img
            src="assets/123.jpg"
            style="height: 300px;" class="card__image" alt="" ></div>
            <div class="col-5">  <div class="card__overlay ed1">
            <div class="card__header ed1">
              <div class="card__header-text">
                <h5 class="" style="text-align: center;"><b>HSC (12th)</b></h5>
              </div>
            </div>
            <div style="text-align: center;margin-bottom: 10px;">
              <h5><b>Institution :</b></h5><span>Government .Hr .Sec .School</span>
            </div>
            <div style="text-align: center;margin-bottom: 10px;"> <span><b>Location :</b><span> coimbatore</span></span>
            </div>
            <div style="text-align: center;margin-bottom: 10px;"> <span><b>Duration :</b><span> 2018 -
                  2019</span></span>
            </div>
          </div></div></div>
        </a>
      </li>
      <br><br>



      <li>
        <a href="" class="card ">
          <div class="row">    <div class="col-7">  <img
            src="assets/123.jpg"
            style="height: 300px;" class="card__image" alt="" ></div>
            <div class="col-5">  <div class="card__overlay ed1">
            <div class="card__header ed1">
              <div class="card__header-text">
                <h5 class=""style="text-align: center;"><b>SSLC (10th)</b></h5>
              </div>
            </div>
            <div style="text-align: center;margin-bottom: 10px;">
              <h5><b>Institution :</b></h5><span>Government .Hr .Sec .School</span>
            </div>
            <div style="text-align: center;margin-bottom: 10px;"> <span><b>Location :</b><span>coimbatore</span></span>
            </div>
            <div style="text-align: center;margin-bottom: 10px;"> <span><b>Duration :</b><span> 2016 -
                  2017</span></span></div>
            </div>


          </div></div>
        </a>
      </li>

    </ul>


  </div>
</section>
