

.jega{
  font-size: 40px;
  color: red;
  background-color: lightcyan;
}


@media only screen and (min-width: 768px){

  .jega{
    font-size: 20px;
    color: blue;
    background-color: pink;
  }

}
.a1{
  background-color: aqua;
}
.a2{
  background-color: pink;
}
.a3{
  background-color: lightgoldenrodyellow;
}



