.a1
{
  color: white;
  border-radius: 5px ;
  font-size: 40px;
  text-align: center;

}
.a2{
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  color: solid rgb(0, 0, 0);
  border-radius: 15px;
  margin-bottom:35px;
  width: 320px;




}
.a3{
  font-size: 30px;
}
.btn-info1 {
  border: none;
  color: white;
  font-size: 15px;
  text-align: center;
  background-color: #000000;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  border-color: rgb(49, 7, 165);
  box-shadow: 0px 0px 4px 4px rgb(0, 0, 0);
  padding: 12px 21px 12px 21px;
  margin-bottom: 18px;
  border-radius: 90%;
}
.g1{
    border: none;
    color: white;
    font-size: 15px;
    text-align: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border-color: rgb(49, 7, 165);
    box-shadow: 0px 0px 4px 4px rgb(0, 0, 0);
    padding: 12px 14px 12px 14px;
    margin-bottom: 18px;
    border-radius: 90%;

}
.g2{

  border: none;
  color: white;
  font-size: 15px;
  text-align: center;
  background-color: #000000;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  border-color: rgb(49, 7, 165);
  box-shadow: 0px 0px 4px 4px rgb(0, 0, 0);
  padding: 12px 18px 12px 18px;
  margin-bottom: 18px;
  border-radius: 90%;


}
.g3{


    border: none;
    color: white;
    font-size: 15px;
    text-align: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border-color: rgb(49, 7, 165);
    box-shadow: 0px 0px 4px 4px rgb(0, 0, 0);
    padding: 12px 22px 12px 22px;
    margin-bottom: 18px;
    border-radius: 90%;
}

.md
{
  padding: 10px;
}

.ceg
{
text-align: center;
}
.oo{
border: 3px solid rgb(0, 0, 0);
 padding-right: 30px ;
 padding-left: 30px;
 padding-top: 20px;
padding-bottom: 20px;
border-radius: 20px;
}
.mg{text-align:right
}

.m1{
  border: none;
  color: white;
  font-size: 15px;
  text-align: center;
  background-color: #000000;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  border-color: rgb(49, 7, 165);
  box-shadow: 0px 0px 4px 4px rgb(0, 0, 0);
  padding: 12px 21px 12px 21px;
  margin-bottom: 18px;


}
.t{
  background-color: rgb(255, 156, 26);
}
.h{
  background-color: rgb(0, 0, 0);

}

