<app-navbar></app-navbar>
<br><br><br><br>
<div>
  <br>

<div class="row md-12">

  <div class="col md-4"></div>


  <div class="col md-4 a1" style= "padding-top: 30px;padding-bottom:20px ;">
    <div>
    <div class="dg" >
      <div class="oo" style="background-color: rgb(57, 57, 57);">
      <div class="ceg">

<div >
    <input [value]="display"class="a2 mg" style="margin-top:30px;" >
</div>
  <div class= "row md-12">
    <div class="col-3 ">
  <button type="button" class="btn btn-info1 t"(click)="c()">c</button>
</div>
<div class="col-3" >
  <button type="button" class="btn btn-info1 t" (click)="dee()">%</button>
</div>
<div class="col-6">
  <button type="button" class="btn btn-info m1 t"style="width: 100%; "(click)="backsp()">⌫</button></div>
</div>
 <div class= "row md-12">
    <div class="col md-3"><button type="button" class="btn btn-info g1 h "(click)="divi()">1/x</button></div>
  <div class="col md-3"><button type="button" class="btn btn-info g1 h "(click)="kid()">x^2</button></div>
  <div class="col md-3"><button type="button" class="btn btn-info g1 h "(click)="opp()" >+/-</button></div>
  <div class="col md-3"><button type="button" class="btn btn-info1 g2 t"(click)="root()">√x</button></div>
</div>


<div class= "row md-12">
  <div class="col md-3">
  <button type="button" class="btn btn-info1 " (click)="Press1()">1</button>
</div>
  <div class="col md-3 ">
  <button type="button" class="btn btn-info1" (click)="press2()">2</button></div>
  <div class="col md-3"><button type="button" class="btn btn-info1 "(click)="press3()">3</button></div>
  <div class="col md-3"><button type="button" class="btn btn-info1 t" (click)="pressdevision()">÷</button></div>
</div>

<div class= "row md-12">
  <div class="col md-3 virctual aline medium">
  <button type="button" class="btn btn-info1"(click)="press4()">4</button></div>
  <div class="col md-3 "><button type="button" class="btn btn-info1"(click)="press5()">5</button></div>
  <div class="col md-3"><button type="button" class="btn btn-info1"(click)="press6()">6</button></div>
  <div class="col md-3"><button type="button" class="btn btn-info1 t" (click)=" pressmultiplication()">x</button></div>
</div>
<div class= "row md-12">

  <div class="col md-3 virctual aline medium">
  <button type="button" class="btn btn-info1 ms "(click)="press7()">7</button>
</div>
  <div class="col-3 ">
  <button type="button" class="btn btn-info1"(click)="press8()">8</button></div>
  <div class="col md-3"><button type="button" class="btn btn-info1"(click)="press9()">9</button></div>
  <div class="col md-3"><button type="button" class="btn btn-info1 t" (click)="presssubtraction()">-</button></div>
</div>
<div class= "row md-12">
  <div class="col md-3 virctual aline medium">
  <button type="button" class="btn btn-info g3 h"(click)="Pressdd()" style="direction: ltr;" >.</button>
</div>
  <div class="col md-3 ">
  <button type="button" class="btn btn-info1 "(click)="press0()">0</button></div>
  <div class="col md-3"><button type="button" class="btn btn-info1 h " (click)="Equals()">=</button></div>
  <div class="col md-3"><button type="button" class="btn btn-info1 t" (click)="PressPlus()">+</button></div>
</div></div></div></div></div></div>
  <div class="col md-4"></div></div></div>
