<div class="container-fluid">
  <header>
    <app-navbar></app-navbar>
    <hr>

<div style="background: url(https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?cs=srgb&dl=pexels-hasan-albari-1229861.jpg&fm=jpg)no-repeat;background-position: center;background-size:1350px;">
    <br><br> <br> <br> <br>


    <section class="home" id="home"

   >
    <div class="max-width">
      <div class="home-content">
        <div class="text-1 " style="text-align: center;">Hello, my name is</div>
        <div class="text-2" style="text-align: center;">Jagadeesan</div>
        <div class="text-3" style="text-align: center;">
          <h1 style="color: aliceblue;font-size: 50px; font-family:Georgia, 'Times New Roman', Times, serif;"
            aria-label="Hi! I'm a developer">
            I'm a<span class="typewriter"></span>
          </h1>
        </div>
      </div>
    </div>
  </section>
    <ul class="social">
      <li><a href="https://github.com/" target="_blank" alt="Github icon"><i class="fa fa-github-square"></i><div class="caption">Github</div></a></li>
      <li><a href="https://uk.linkedin.com/in/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i><div class="caption">LinkedIn</div></a></li>
      <li><a href="https://instagram.com/_king_of_the_univers_?igshid=MzNlNGNkZWQ4Mg==" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i><div class="caption">instagram</div></a></li>
   <br><br><br>
   </ul>


    </div>
  </header>




