<app-navbar></app-navbar>
<div style="background-image: url(/assets/34.jpg);">
  <div class="container">
<div class="row" >
  <div class="col-6" style="padding-top: 40px; padding-right: 80px;">
    <div class="container">
    <div class="card mb-3"  style="max-width: 540px; ">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/cal.png" class="img-fluid rounded-start" style="height: 250px;width: 200%;">
        </div>

        <div class="col-md-8 card text-bg-">
          <div class="card-body" >
            <h5 class="card-title">Calculator</h5>
            <p class="card-text">I used a  HTML, CSS and TYPESCRIPT to creat this calculator project.
              <br> <br> It's narmal calculator for using Addition, Multiplication, Subtraction and Division.</p>
             <button style="background-color: rgb(0, 194, 243);"> <a   routerLink="/calculator" style=" color: rgb(0, 0, 0);">Click Hear--></a></button>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div><div class="col-6" style="padding-top: 40px;padding-right: 100px; ">
    <div class="card mb-3"  style="max-width: 540px; ">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/templ.png" class="img-fluid rounded-start" style="height: 250px;width: 200%;">
        </div>

        <div class="col-md-8 card text-bg-">
          <div class="card-body" >
            <h5 class="card-title">Template Form</h5>
            <p class="card-text">I used a  HTML, CSS to creat and validate this form.
              <br> <br> It's narmal template form.</p>
             <button style="background-color: rgb(0, 194, 243);"> <a   routerLink="/temp" style=" color: rgb(0, 0, 0);">Click Hear--></a></button>
          </div>
</div></div>
    </div></div></div></div>
      <div class="container">
    <div class="row" style=" text-align: center;" >
      <div class="col-3"></div>
      <div class="col-6" style=" padding-top: 40px; padding-right: 80px;">
        <div class="container">
        <div class="card mb-3"  style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/assets/1111.png" class="img-fluid rounded-start" style="height: 250px;width: 200%;">
            </div>

            <div class="col-md-8 card text-bg-">
              <div class="card-body" >
                <h5 class="card-title">Reactive Form</h5>
                <p class="card-text">I used a  HTML, CSS and TYPESCRIPT to creat and validate this form..
                  <br> <br> It's narmal reactive form.</p>
                 <button style="background-color: rgb(0, 194, 243);"> <a   routerLink="/rea" style=" color: rgb(0, 0, 0);">Click Hear--></a></button>
        <div class="col-3"></div>
                </div>
            </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
