<div class="back"><app-navbar></app-navbar>
<br><br><br><br>

 <div class="container">
  <h2 class="heading"><i class="fas fa-laptop-code"></i> Skills</h2>

  <div class="col">

    <ul class="skill">
      <li><span class="blueline html"></span><em>HTML</em></li>
      <li><span class="blueline css"></span><em>CSS</em></li>
      <li><span class="blueline AngularJS"></span><em>AngularJS</em></li>
      <li><span class="greenline DotnetCore "></span><em>ASP.NET Core </em></li>
      <li><span class="redline SQL"></span><em>SQL</em></li>
      <li><span class="yelline AWS"></span><em>AWS</em></li>
      <li><span class="blueline Typescript"></span><em>Typescript</em></li>
</ul></div>
    <div class="col">

    <ul class="skill">



    </ul>
    <div class="down text-start">

      <h6 class="style"><a href="https://www.w3schools.com/sql/sql_intro.asp"><i class="fa fa-caret-right" ></i>&nbsp; SQL Basic</a></h6><br>
      <h6 class="style"><a href="https://www.w3schools.com/sql/sql_select.asp"><i class="fa fa-caret-right" ></i>&nbsp; Select operations</a></h6><br>
      <h6 class="style"><a href="https://www.w3schools.com/sql/sql_stored_procedures.asp"><i class="fa fa-caret-right" ></i>&nbsp; Stored Procedure</a></h6><br>
      <h6 class="style"><a href ="https://www.w3schools.com/sql/sql_join.asp"><i class="fa fa-caret-right" ></i>&nbsp; SQL Joins</a></h6>
      <br>
      <h6 class="style"><a href="https://docs.aws.amazon.com/accounts/latest/reference/manage-acct-creating.html"><i class="fa fa-caret-right" ></i>&nbsp; AWS Account Creation</a></h6><br>
      <h6 class="style"><i class="fa fa-caret-right" ></i>&nbsp; Server Management</h6><br>
      <h6 class="style"><i class="fa fa-caret-right" ></i>&nbsp; Web Hosting</h6><br>

  </div>
  </div>
  <div class="col">

    <ul class="skill">


    </ul>

<div class="down text-start">

  <h6><i class="fa fa-caret-right" style="color: blue;" ></i>Forms With Validation</h6><br>


   <h6><i class="fa fa-caret-right" style="color: blue;" ></i>API (postman)</h6><br>

 </div>

 <h6><i class="fa fa-caret-right" style="color: rgb(0, 8, 255);" ></i>  EX: Calculator</h6><br>

 <h6><i class="fa fa-caret-right" style="color: rgb(0, 191, 255);" ></i> Rest Framework API</h6><br>



 <h6> <a routerLink="A"><i class="fa fa-caret-right" ></i>&nbsp;Create Web API</a></h6><br><br><br>

</div>
