<app-navbar></app-navbar>
<section class="services" id="services">
  <div class="max-width">
    <h2 class="title" style="font-weight: 700;">MY PROJECTS</h2>
    <div class="serv-content">
      <div class="card" routerLink="/calculator">
        <div class="box">
          <i class="fa fa-calculator" style="font-size: 70px;" aria-hidden="true"></i>
          <div class="text" style="font-size: 30px;">Calculator</div>
          <p> Designed an user interface using HTML, CSS And bootstrap ,Event binding in typescipt to make functions.
          </p>
        </div>
      </div>
      <div class="card" routerLink="/temp">
        <div class="box">
          <i class="fa fa-file-text-o" aria-hidden="true" style="font-size: 70px;"></i>
          <div class="text">Templete Driven Forms</div>
          <p>
            <li> In template form using Directives
          </p>
          <li>In this form using all Validation and Requirements in DOM Element</li>
          <!-- In reactive from use directives in Dom element and make validation in TypeScript -->
        </div>
      </div>
      <div class="card" routerLink="/rea">
        <div class="box">
          <i class="fa fa-file-text" style="font-size: 70px;" aria-hidden="true"></i>
          <div class="text">Reactive Driven Form</div>
          <p>
            <li> In Reactive form using Directives
          </p>
          <li>In this form using all Validation and Requirements in DOM & TS Element</li>
        </div>
      </div>

      <button class="card" style="margin-top: 10px;"> <a href="http://task.jagadeesan.website">

        <div class="box" >

          <i class="fa fa-shopping-cart" style="font-size: 70px;" aria-hidden="true"></i>

          <div class="text"> <a href="" style="color: white;font-size: 30px;"> Task Manager</a></div>

          <p style="color: white;">Created a Navbar,  employee details, client details and catogary details
            using API In Angular, Make function in Typescript
          </p>
        </div></a>
      </button>
      <div class="card" routerLink="">
        <div class="box">
          <i class="fa fa-users" style="font-size: 70px;" aria-hidden="true"></i>
          <div class="text">API Work (post)</div>
          <p>
            <li>Make API to work with login information to another Element
          </p>
          <li>To make information pass through api</li>
        </div>
      </div>
      <div class="card" routerLink="">
        <div class="box">
          <i class="fa fa-users" style="font-size: 70px;" aria-hidden="true"></i>
          <div class="text">API Work (get)</div>
          <p>
            <li>Make API to work with login information to another Element
          </p>
          <li>To make information get through api</li>
        </div>
      </div>
    </div>
  </div>

</section>
