
#about {
  width: 80%;
  margin: auto;
}

#me {
  display: block;
  margin: 0px auto 60px auto;
  border: 3px solid #aaa;
  border-radius: 50%;
}

header .social li a .caption {
  font-size: .9em;
}


hr
{
  margin-left: 440px;
  margin-right: 440px;
}
.img-responsive{
  width: 200px;
  height: 210px;
}


