
<app-navbar></app-navbar>
<div class="content">
  <br><br><br><br><br>
  <div id="about">

<h1 style="text-align: center;">About Me</h1>
<hr>
    <img src="assets/124.jpeg" alt="Picture of jagadeesan" id="me" class="img-responsive" />
    <article>

      <p>Hello, My name is <span style="color: rgb(0, 255, 251);"> Jagadeesan.</span></p>
      <p>I am from kurunallipalayam. </p>
      <p >Motivated and skilled full stack
        Angular developer with a
        solid foundation in front-end development using <span style="color: blue;"> Angular and
        TypeScript, and back-end development using sql ,APi,.NET.</span></p>
        <p> Experienced in working as an intern at GT Software, where I
        contributed to developing robust web applications. Proficient
        in utilizing <span style="color: blue;"> MS SQL </span> for efficient database management.
        <p>
        Seeking opportunities to further enhance my skills and
        contribute to innovative projects.</p>

    </article>
  </div>
</div>
