<app-navbar></app-navbar>
<div id="contact"> <!-- Contact -->
  <br><br><br><br><br><br>
  <div class="form-frame">
    <h2><i class="fa fa-envelope" aria-hidden="true"></i> Get in touch</h2>
    <form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="name">Your name:</label><br />
        <input id="name" class="input" name="name" type="text" value="" size="54" placeholder="Please enter your name"/><br />
      </div>
      <div class="form-group">
        <label for="email">Your e-mail:</label><br />
        <input id="email" class="input" name="email" type="text" value="" size="54" placeholder="Please enter a valid e-mail"/><br />
      </div>
      <div class="form-group">
        <label for="message">Your message:</label><br />
        <textarea id="message" class="input" name="message" rows="7" cols="54" placeholder="Please enter your message here"></textarea><br />
      </div>
      <input id="submit_button" class="btn btn-default" type="submit" value="Send email">
    </form>
    <br><br><br>
  </div>
</div> <!-- End of Contact -->

