
<nav class="navbar nv1">
  <div class="max-width">
    <div class="logo"><a href="#">Jagadeesan<span>Portfolio</span></a></div>
    <ul class="menu" style="padding-left: 350px;" >
     <button><li><a class="menu-btn"routerLink="/" >Home</a></li></button>
          <button><li><a  class="menu-btn"routerLink="/ab">About</a></li></button>
          <button><li><a  class="menu-btn" routerLink="/det">Works</a></li></button>
          <button><li><a  class="menu-btn"routerLink="/skills" >skills</a></li></button>
          <button><li><a  class="menu-btn"routerLink="/footer" >Contact</a></li></button>

    </ul>
    <div class="menu-btn">
      <i class="fas fa-bars"></i>
    </div>
  </div>
</nav>
